<launch>

    <!-- static transform for Laser -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="chassis_to_laser_link" args="-0.2 0 0.3 3.14 0 0  chassis laser_link 30" /> -->
    <!-- static transform for Camera -->
    <!--node pkg="tf" type="static_transform_publisher" name="base_link_to_webcam_link" args="0.0 0 1.0 0 0 0  base_link webcam_link 30" /-->
    


<node pkg="tf" type="static_transform_publisher" name="chassis_to_laser_link" args="0.0 0 0.14 3.14 0 0  chassis laser_link 30" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_chassis" args="0.0 0 0.16 0 0 0  base_link chassis 30" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0.0 0 0.0 0.0 0 0  base_link base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_webcam_link" args="0.0 0 1.32 0.0 0 0  base_link webcam_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="webcam_link_to_camera_depth" args="0.0 0 -0.30 -1.57 0 -1.57 webcam_link cameraLeft_depth_link 100" />
</launch>
