<?xml version="1.0"?>

<model>
  <name>sudo</name>
  <version>1.0</version>
  <sdf version="1.4">sdf/model.sdf</sdf>

  <author>
    <name>Amir Shantia</name>
    <email>a.shantia@rug.nl</email>
  </author>

  <description>
    A model of the sudo which is on a pioneer 2 dx robot.
  </description>

  <depend>
  </depend>
</model>
