<?xml version="1.0"?>
<model> 
  <name>qr_box_paint3</name> 
  <version>1.0</version>  
  <sdf version="1.5">model.sdf</sdf>  
  <author> 
    <name>Anco</name> 
    <email>a.c.gietema@student.rug.nl</email> 
  </author> 

  <description> 
    Box with qr codes on it for testing qr code recognition 
  </description> 
</model> 
